In [30]:
import requests
import time
import csv
import datetime
import pandas as pd
import numpy as np

name_file_base = 'indices_diesel_e_gasolina_base.csv'
path_file_base = 'bases/'+name_file_base

# começa a fazer os cálculos para o arquivo base
df = pd.read_csv(path_file_base, sep=';')
# converte os dados do dataframe
df['data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y', errors='ignore')
del df['Data']

count_nan = sum(pd.isnull(df['indice_gasolina']))
while count_nan > 0:
    df['indice_gasolina'] = df['indice_gasolina'].fillna(value=(df['indice_gasolina'].shift(1) * df.Gasolina / 100) + df['indice_gasolina'].shift(1))
    df['indice_diesel'] = df['indice_gasolina'].fillna(value=(df['indice_diesel'].shift(1) * df.Diesel / 100) + df['indice_diesel'].shift(1))    
    count_nan -= 1

df

     Gasolina  Diesel  indice_gasolina  indice_diesel       data
0         0.0     0.0       100.000000     100.000000 2017-01-01
1         0.0     0.0       100.000000     100.000000 2017-01-02
2         0.0     0.0       100.000000     100.000000 2017-01-03
3         0.0     0.0       100.000000     100.000000 2017-01-04
4         0.0     0.0       100.000000     100.000000 2017-01-05
5         0.0     6.1       100.000000     100.000000 2017-01-06
6         0.0     0.0       100.000000     100.000000 2017-01-07
7         0.0     0.0       100.000000     100.000000 2017-01-08
8         0.0     0.0       100.000000     100.000000 2017-01-09
9         0.0     0.0       100.000000     100.000000 2017-01-10
10        0.0     0.0       100.000000     100.000000 2017-01-11
11        0.0     0.0       100.000000     100.000000 2017-01-12
12        0.0     0.0       100.000000     100.000000 2017-01-13
13        0.0     0.0       100.000000     100.000000 2017-01-14
14        0.0     0.0       100.000000     100.000000 2017-01-15
15        0.0     0.0       100.000000     100.000000 2017-01-16
16        0.0     0.0       100.000000     100.000000 2017-01-17
17        0.0     0.0       100.000000     100.000000 2017-01-18
18        0.0     0.0       100.000000     100.000000 2017-01-19
19        0.0     0.0       100.000000     100.000000 2017-01-20
20        0.0     0.0       100.000000     100.000000 2017-01-21
21        0.0     0.0       100.000000     100.000000 2017-01-22
22        0.0     0.0       100.000000     100.000000 2017-01-23
23        0.0     0.0       100.000000     100.000000 2017-01-24
24        0.0     0.0       100.000000     100.000000 2017-01-25
25        0.0     0.0       100.000000     100.000000 2017-01-26
26       -1.4    -5.1        98.600000      98.600000 2017-01-27
27        0.0     0.0        98.600000      98.600000 2017-01-28
28        0.0     0.0        98.600000      98.600000 2017-01-29
29        0.0     0.0        98.600000      98.600000 2017-01-30
..        ...     ...              ...            ...        ...
387      -1.4    -0.2       103.400000     103.400000 2018-01-23
388      -0.8    -0.5       102.580000     102.580000 2018-01-24
389       1.4     2.3       104.010000     104.010000 2018-01-25
390       0.5     0.0       104.530000     104.530000 2018-01-26
391      -0.2    -1.3       104.320000     104.320000 2018-01-27
392       0.0     0.0       104.320000     104.320000 2018-01-28
393       0.0     0.0       104.320000     104.320000 2018-01-29
394       0.1     0.8       104.430000     104.430000 2018-01-30
395      -2.9    -1.3       101.400000     101.400000 2018-01-31
396      -1.5    -1.4        99.880000      99.880000 2018-02-01
397       0.8     0.0       100.680000     100.680000 2018-02-02
398       0.5     0.6       101.180000     101.180000 2018-02-03
399       0.0     0.0       101.180000     101.180000 2018-02-04
400       0.0     0.0       101.180000     101.180000 2018-02-05
401       0.5     0.6       101.690000     101.690000 2018-02-06
402       0.0    -1.8       101.690000     101.690000 2018-02-07
403      -1.5    -0.7       100.160000     100.160000 2018-02-08
404      -3.0    -2.6        97.160000      97.160000 2018-02-09
405       0.0    -0.2        97.160000      97.160000 2018-02-10
406       0.0     0.0        97.160000      97.160000 2018-02-11
407       0.0     0.0        97.160000      97.160000 2018-02-12
408       0.0     0.0        97.160000      97.160000 2018-02-13
409       0.0     0.0        97.160000      97.160000 2018-02-14
410       0.0     0.0        97.160000      97.160000 2018-02-15
411      -3.9    -2.3        93.370760      93.370760 2018-02-16
412       1.5    -0.8        94.771321      94.771321 2018-02-17
413       1.8     1.5        96.477205      96.477205 2018-02-20
414       1.9    -0.1        98.310272      98.310272 2018-02-21
415       0.9     1.4        99.195065      99.195065 2018-02-22
416       0.0     0.6        99.195065      99.195065 2018-02-23

[417 rows x 5 columns]

In [29]:
start_date = datetime.datetime(2017, 1, 1)
end_date = datetime.datetime(2017, 12, 31)

df[df.index.duplicated()]

Empty DataFrame
Columns: [Gasolina, Diesel, indice_gasolina, indice_diesel, data, indice_gasolina_2, indice_diesel_2]
Index: []